* {
    font-family: 'Fira Mono', monospace;
    /*border: 1px solid red !important;*/
}

.navlist {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 1em;
    letter-spacing: 0.1em;
    margin: 0 auto;
    text-align: right;
    list-style: none;
    margin: 20px;
}

.navtab {
    display: inline-block;
    text-align: right;
}

.navlink {
    color: #333333;
    text-transform: uppercase;
    display: block;
    text-decoration: none;
    padding: 15px;
    white-space: nowrap;
}

.main {
    margin: 10px auto;
    width: 50%;
    height: auto;
}

.aboutgrid{
    margin: 20px;
}

h1 {
    margin-top: 30px;
    margin-bottom: 30px;
    text-transform: uppercase;
}

p {
    margin: 0 0 30px 0;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}
.container {
    display: flex;
    max-width: 100%;
    margin: 20px;
}
.quote {
    margin-left: auto;
    margin-right: auto;
    max-width: 50%;
    height: auto;
    box-shadow: 0 4px 6px 0 rgba(34, 60, 80, .16)
    transition: all ease-in-out .2s;
}
