* {
    font-family: 'Fira Mono', monospace;
}

.grid { 
    display: grid;

}
.navbar {
    text-align: right;
    padding: 20px;
    margin: 20px;
    background-color: rgba(0, 112, 84, 0.377);
}

.header {
    justify-self: center;
    color:  rgb(71, 122, 118);
}

h1 {
    text-align: center;
    justify-self: center;
    position: relative;
}
h2 {
    text-align: center;
    font-family: 'Open Sans Condensed', sans-serif;
}

p {
    text-align: center;
    margin: 20px;
    padding: 20px;

}

hr {
	border: 0;
	height: 1px;
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0)); 
}